.card-container {
  width: 250px;
  padding: 10px;
  min-height: 450px;
  max-height: 480px;
  border-radius: 10px;
  background-color: #d9d9d9;
  color: black;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  .card-empty-graph-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    p {
      position: absolute;
      font-size: 20px;
      z-index: 1;
      margin: 0;
      padding-bottom: 10px;
      color: #7a7a7a;
      text-align: center;
      font-style: italic;
    }
  }

  .remove-from-compare {
    background: none;
    border: none;
    width: 25px;
    height: 25px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e42c2cce;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 1;
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
    width: 100%;
    height: 60px;
    box-sizing: border-box;

    h2 {
      width: 100%;
      margin: 0;
      padding: 10px;
      font-size: 14px;
      background-color: white;
      border-radius: 10px;
    }
  }

  .card-header-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: 41px;
    margin-bottom: 10px;

    input {
      width: 100%;
      padding: 10px;
      min-height: 41px;
      padding-left: 5px;
      padding-right: 5px;
      box-sizing: border-box;
      border: none;
      border-radius: 10px;
      background-color: white;
      color: black;
      font-size: 14px;
    }

    button {
      background: none;
      border: none;
      /* width: 25px;
      height: 25px; */
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
  }

  .card-stats-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .card-stats-header {
      width: 100%;
      display: flex;
      flex-direction: column;

      .info-row-header {
        padding: 0 20px;
        color: #000000ab;
        font-size: small;
      }
    }

    p {
      margin: 0;
    }

    .card-stat {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      gap: 20px;
      box-sizing: border-box;

      p {
        flex: 1;
        text-align: center;
      }
    }
  }

  .search-results-header {
    p {
      margin: 0;
      border-radius: 10px;
      font-size: 14px;
    }
  }
  .search-results-container {
    overflow-y: auto;

    button {
      background: none;
      border: none;
      padding: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      color: black;
      text-align: start;
      width: 100%;
      margin-bottom: 3px;
    }

    .university-row {
      border-radius: 5px;
      padding-left: 5px;
      padding-right: 5px;

      background: none;
      border: none;
      padding: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      color: black;
      text-align: start;
      width: 100%;
      margin-bottom: 3px;

      &:hover {
        /* background-color: #85e473; */
        background-color: #354248a3;
        color: white;
      }

      &:focus {
        /* background-color: #85e473; */
        background-color: #354248a3;
        color: white;
        outline: none;
      }
    }

    .university-disabled {
      color: #7a7a7a;
      cursor: not-allowed;
    }

    .university-name {
      font-weight: bold;
      font-size: medium;
    }

    .university-location {
      font-size: small;
      /* color: #7a7a7a; */
    }
  }
}
