.country-tooltip {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  color: black;
  width: 300px;
  left: 0;
  transition: all 0.2s ease;
  opacity: 0;

  h2 {
    font-size: 1.5em;
    margin: 0;
  }
}
