.scatter-plot-container {
  display: inline-flex;
  background-color: #f0f0f0;
  flex-direction: row;
  overflow: hidden;
  position: relative;

  .scatter-y-wrapper {
    color: black;
    font-weight: 200;
    min-width: 34px;
    .scatter-y-selector {
      padding: 2px;
      float: left;
      position: absolute;
      z-index: 1;
    }

    .scatter-y-label {
      writing-mode: tb-rl;
      transform: rotate(180deg);
      text-align: center;
      cursor: pointer;
      margin-top: 50px;
      margin-left: 10px;
      img {
        transform: rotate(180deg);
      }
    }
  }

  .scatter-plot-wrapper {
    display: flex;
    flex-direction: column;

    .scatter-x-label {
      color: black;
      text-align: center;
      cursor: pointer;
      font-weight: 200;
      vertical-align: middle;
    }
  }

  .scatter-hover-label {
    color: black;
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: #fff;
    min-width: 100px;
    text-align: right;
    font-size: 14px;
    line-height: normal;

    .scatter-university-label {
      max-width: 400px;
      text-overflow: "ellipsis";
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.scatter-plot-chart {
  display: inline-flex;
  width: 90%;
  height: 90%;
  justify-content: center;
  align-items: center;
  cursor: crosshair;

  .point:hover {
    cursor: pointer;
    width: 90px;
  }
}
