.uni-drawer-row {
  background: #fff;
  color: #000;
  display: flex;
  flex-direction: row;
  max-width: 300px;
  min-height: 85px;
  align-items: center;
  margin: 40px auto;
  border-radius: 23px;
  padding: 0 10px;
  .uni-drawer-name {
    flex: 1;
    font-weight: 600;
  }
  .uni-drawer-remove {
    background-color: #91a09b;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    padding: 0 0 5px;
    &:hover {
      background-color: #7c8783;
    }
  }
}
