.filtering-list-container {
  height: 50%;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 10px;
  box-sizing: border-box;

  /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); */

  .map-filtering-title {
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    padding-left: 10px;

    .map-filtering-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      /* padding-right: 10px; */

      p {
        margin: 0;
        font-size: 15px;
        color: rgb(92, 92, 92);
      }
    }
  }

  .map-filtering-title h2 {
    margin: auto;
    font-weight: 400;
  }

  .map-filtering-body {
    overflow-y: scroll;
    max-height: 400px;
    scrollbar-color: #e42c2c9e transparent;
    scrollbar-width: thin;

    .university-list-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 5px;
      margin-bottom: 5px;

      .university-list-label {
        flex: 1;

        .university-name {
          font-weight: bold;
        }

        .university-location {
          font-size: 15px;
          color: rgb(92, 92, 92);
        }
      }

      &:hover {
        cursor: pointer;
        background-color: lightgray;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .university-selected {
      background-color: #354248;
      color: white;

      .university-location {
        font-size: 15px;
        color: rgba(255, 255, 255, 0.817) !important;
      }

      &:hover {
        background-color: #354248a3;
      }
    }
  }

  .map-filtering-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }
}
